.bordered-text {
  -webkit-text-stroke: 1px #24273A;
}

.rounded-pill-right {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.rounded-pill-left {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
